<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Contact -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Mission Control</h3>
          <ul>
            <li>Contact Support</li>
            <li>Book a Tee Time</li>
            <li>Location & Hours</li>
            <li>FAQs</li>
          </ul>
        </div>

        <!-- Policies -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Galaxy Policies</h3>
          <ul>
            <li>Privacy Policy</li>
            <li>Terms of Service</li>
            <li>Course Rules</li>
            <li>Refund Policy</li>
          </ul>
        </div>

        <!-- Shop / Sales -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Pro Shop</h3>
          <ul>
            <li>Shop Equipment</li>
            <li>Gift Cards</li>
            <li>Membership Plans</li>
            <li>Special Offers</li>
          </ul>
        </div>

        <!-- Resources -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Player Resources</h3>
          <ul>
            <li>How to Play</li>
            <li>League & Events</li>
            <li>Score Tracker</li>
            <li>Blog & News</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->

  <!-- Social Media Icons -->
  <div class="container text-center py-3">
    <a href="#" aria-label="Facebook"><i class="fab fa-facebook fa-lg mx-2"></i></a>
    <a href="#" aria-label="Instagram"><i class="fab fa-instagram fa-lg mx-2"></i></a>
    <a href="#" aria-label="Twitter"><i class="fab fa-x-twitter fa-lg mx-2"></i></a>
    <a href="#" aria-label="YouTube"><i class="fab fa-youtube fa-lg mx-2"></i></a>
  </div>
</footer>
